################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SharpAssembler.Languages.Nasm/Tests/bin/Debug
/SharpAssembler.Languages.Nasm/Tests/obj/Debug
/SharpAssembler.Languages.Nasm/Source/bin/Debug
/SharpAssembler.Languages.Nasm/Source/obj/Debug
/SharpAssembler.Formats.Elf32/Tests/obj/Debug
/SharpAssembler.Formats.Elf32/Tests/bin/Debug
/SharpAssembler.Formats.Elf32/Source/obj/Debug
/SharpAssembler.Formats.Elf32/Source/bin/Debug
/SharpAssembler.Formats.Bin/Tests/obj/Debug
/SharpAssembler.Formats.Bin/Tests/bin/Debug
/SharpAssembler.Formats.Bin/Source/obj/Debug
/SharpAssembler.Formats.Bin/Source/bin/Debug
/SharpAssembler.Architectures.X86/Tests/obj/Debug
/SharpAssembler.Architectures.X86/Tests/bin/Debug
/SharpAssembler.Architectures.X86/Source/obj/Debug
/SharpAssembler.Architectures.X86/Source/bin/Debug
/SharpAssembler/Tests/obj/Debug
/SharpAssembler/Tests/bin/Debug
/SharpAssembler/Source/obj/Debug
/SharpAssembler/Source/bin/Debug
/.vs/
/packages/MSTest.TestFramework.2.2.10
/SharpAssembler/Source/obj
/SharpAssembler/Tests/obj
/SharpAssembler/Tests.backup
/SharpAssembler.Architectures.X86/Source/obj
/SharpAssembler.Architectures.X86/Source.backup/bin/Debug
/SharpAssembler.Architectures.X86/Source.backup
/SharpAssembler.Architectures.X86/Tests.backup
/SharpAssembler.Formats.Bin/Source/obj
/SharpAssembler.Formats.Bin/Source.backup
/SharpAssembler.Formats.Bin/Tests/obj
/SharpAssembler.Formats.Bin/Tests.backup
/SharpAssembler.Formats.Elf32/Source/obj
/SharpAssembler.Formats.Elf32/Source.backup
/SharpAssembler.Formats.Elf32/Tests/obj
/SharpAssembler.Formats.Elf32/Tests.backup
/SharpAssembler.Languages.Nasm/Source/obj
/SharpAssembler.Languages.Nasm/Source.backup
/SharpAssembler.Languages.Nasm/Tests/obj
/SharpAssembler.Languages.Nasm/Tests.backup
